.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }

  /* .react-medium-image-zoom {
    z-index: 1000;
  }
  
  .react-medium-image-zoom-overlay {
    background: rgba(0, 0, 0, 0.8) !important;
  }
  
  .react-medium-image-zoom-image {
    max-width: 90% !important;
    max-height: 90vh !important;
    margin: auto !important;
  }
   */