.containerr {
    margin-top: 90px;
}

.question-title {
    font-size: 20px;
    background-color: #900001 ;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}



.options-list {
    list-style: none;
    padding: 0;
}

.options-list li {
    cursor: pointer;
    margin-left: 50px;
    align-items: center;
}





/* Điểm */
.points {
    font-weight: bold;
    margin-left: auto;
    color: #a61e4d;
    font-size: 14px;
}

.options-list li input[type="radio"] {
    margin-left: 80px;
    margin-top: 30px;
    transform: scale(1.2);
}

/* Radio button */
/* .options-list input {
    margin-right: 10px;
    transform: scale(1.2);
  } */



  .submit-btn {
    background-color: #ff66b2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
  }
  
  .submit-btn:hover {
    background-color: #e05599;
  }
  
  .result-message {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #a61e4d;
    margin-top: 20px;
  }
  