/* .avarta{
    display: flex;
    background-color: aqua;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 25px;
} */






/* Hide scrollbar in WebKit-based browsers */
.sider-menu::-webkit-scrollbar,
.content-container::-webkit-scrollbar {
    width: 5px;
}

.sider-menu::-webkit-scrollbar-thumb,
.content-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.avarta .ant-image-mask {
    border-radius: 50%;
    
}

.avarta .img-avarta{
   
    border-radius: 50%;
    padding: 10px;
}

/* Thiết lập chiều cao và cuộn cho Sider */
.sider-admin {
    height: 100vh; /* Chiều cao bằng viewport */
    overflow-y: auto; /* Cho phép cuộn dọc */
    position: fixed; /* Cố định Sider */
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1; /* Đảm bảo Sider nằm trên cùng */
  }
  
  /* Thiết lập chiều cao và cuộn cho Content */
  .admin-layout .content-container {
    /* margin-left: 200px;  */
    /* Đảm bảo Content không bị che bởi Sider */
    height: 100vh; /* Chiều cao bằng viewport */
    overflow-y: auto; /* Cho phép cuộn dọc */
    padding: 24px; /* Thêm padding để nội dung không dính sát vào viền */
    transition: margin-left 0.2s;
  }
  
  /* Đảm bảo Menu trong Sider không bị cuộn quá */
  .sider-menu {
    height: calc(100vh - 150px); /* Chiều cao của Menu bằng chiều cao Sider trừ đi phần header */
    overflow-y: auto; /* Cho phép cuộn dọc */
  }
  
 