/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
} */
.register-form {
   
    font-family: 'Agbalumo', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #900001;
    margin: 50px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}



.register-form label {

    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: left;
}

.register-form input {
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    background-color: aliceblue;
    color: black;
}

.register-form button {
    width: 200px;
    height: 50px;
    background-color: white;
    color: #900001;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 20px;
font-size: 20px;

    
}

.register-form img {
    margin-bottom: 20px;
}