.sider-user-profile {
  background-color: #900001;
}

.color-menu {
  background-color: #900001 !important;
}

.color-menu .ant-menu-item {
  color: white;
}

.color-menu .ant-menu-item-selected {
  background-color: #700001 !important;
}

.sider-user-profile .ant-layout-sider-trigger {
  background-color: #800001 !important;
  border: none;
}

.sider-user-profile .ant-layout-sider-trigger:hover {
  background-color: #700001 !important;
}

.avarta-profile .ant-image-mask {
  border-radius: 50%;
  
}

.avarta-profile  .image-avarta{
  border-radius: 50%;
  padding: 10px;
  transition: all 0.2s ease;
}

.sider-user-profile:not(.ant-layout-sider-collapsed) .avarta-profile .image-avarta {
  width: 200px;
  height: 200px;
}

.sider-user-profile.ant-layout-sider-collapsed .avarta-profile .image-avarta {
  width: 90px;
  height: 90px;
}

.sider-user-profile {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.user-profile-layout .content-container {
  margin-left: 200px;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  background: #f0f2f5;
  transition: margin-left 0.2s;
}