.button-order-card{
    display: flex;
     gap: 10px;
    justify-content: end; 
     align-items: end; 
    flex-direction: column;
}


.button-order-card  .button-detail, .button-cancel{
    width: 150px;
    border: none
}

.button-cancel:hover {
    background-color: white !important;
    color: #ff4d4f !important;
    border: 1px solid #ff4d4f !important;
  }

  .button-detail:hover {
    background-color: white !important;
    color: #4096FF !important;
    border: 1px solid #4096FF !important;
  }
