.Header {
    position: fixed;
    top: 0;
    background-color: #900001;
    left: 0;
    right: 0;
    height: 85px;
    z-index: 1;
    /* z-index: để cho thanh  hiện không bị trôi; */
    display: flex;
    /* padding: 10px 20px; */
    z-index: 1000;
}

/* common */
.clear {
    clear: both;
}

.logo {
    height: 85px;
}

.nav {
    display: inline-block;
    /* text-decoration: none; */
}

.nav>li {
    display: inline-block;
}

.nav li {
    position: relative;
}

.nav>li>a {
    color: #fff;
}

.nav li a {
    padding: 0 24px;
    line-height: 85px;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
}

.nav>li:hover>a {
    background-color: #900001;
    color: #fff;
}

.nav ul {
    list-style-type: none;
    display: flex;
}
.nav li a:focus,.nav li a:active {
    background-color: #fff; /* Màu nền trắng khi nhấn */
    color: #900001; /* Màu chữ đổi sang đỏ đậm */
    border-radius: 5px; /* Bo góc cho hiệu ứng */
    outline: none; /* Xóa viền mặc định của trình duyệt */
}



.nav .subnav a {
    color: white;
    padding: 0 50px;
    line-height: 38px;
}

.nav li:hover .subnav {
    display: block;

}

.nav .subnav li a {
    color: white;
    text-decoration: none;
    padding: 18px 22px;
    display: block;
    width: 100%;
}

.nav,
.subnav {
    list-style-type: none;
}

.nav .suvnav:hover {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /*  bóng đổ cho màu đen mờ */
    min-width: 160px;
    background-color: #900001;
}

.nav .subnav {
    position: absolute;
    background-color: #900001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    min-width: 160px;
}

.nav .subnav li:hover a {
    background-color: #900001;
    color: #fff;
}

.search {
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.searchtt {
    background-color: aliceblue;
    color: black;
}

.search input[type="text"] {
    /* padding-left: 30px;
       
        outline: none;
         */
    border-radius: 20px;
    border: 1px solid #ccc;
    height: 30px;
}

.search .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
    /* Đảm bảo không thể click vào icon */
}

.icon {
    display: flex;
    line-height: 85px;
    padding: 0 24px;

}

.icon .cart {
    width: 30px;
    align-items: center;
    display: flex;
    margin: 10px;
    justify-content: end;
}

.cart i {

    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: none;

}


.user {

    width: 30px;
    align-items: center;
    display: flex;
    margin: 10px;
    justify-content: end;

}

.user i {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: none;
}