body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.register-form {
    background-color: #900001;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: white;
    border: 2px solid white;
}
.register-form h1 {
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
}
.register-form label {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: left;
}
.register-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
    color: black;
}
.register-form button {
    background-color: white;
    color: #900001;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.register-form img {
    margin-bottom: 20px;
}