

/* Cart.css */

/* General Styles */
/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
} */

/* .cart-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: lightgray;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */

.title {
  color: #900001;
  margin-bottom: 20px;
  text-align: center;
}

/* Table Styles */
.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  
}

.cart-table th,
.cart-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;

}

.cart-table th {
  background-color: white;
  color: black;
}

.product-image {
  width: 100px;
  border-radius: 5px;
}

/* Customer Info Styles */
.customer-info {  
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Order Info Styles */
.order-info {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.payment-method {
  margin: 15px 0;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

/* Total Payment Styles */
.total-payment {
  font-family:Helvetica, Arial, sans-serif ;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
  color: red;
}

.total-payment strong {
  color: black;
  
}



/* Button Styles */
.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.btn.primary {
  background-color: yellow;
  color: black;
}

.btn.secondary {
  background-color: #e63946;
  color: white;
}

.btn:hover {
  opacity: 0.9;
} 